@import url(https://fonts.googleapis.com/css?family=Raleway:300);
.dark-button-1 {
	transform: translateX(0%) translateY(0%);
}
.dark-button-2 {
	transform: translateX(0%) translateY(0%);
}
.dark-button {
	background: #333;
	color: #ccc;
	width: 200px;
	height: 60px;
	border: 0;
	font-size: 18px;
	border-radius: 4px;
	font-family: 'Raleway', sans-serif;
	transition: 0.6s;
	overflow: hidden;
}
.dark-button:focus {
	outline: 0;
}
.dark-button:before {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
	width: 60px;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
	filter: blur(30px);
	transform: translateX(-100px) skewX(-15deg);
}
.dark-button:after {
	content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0.2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100px) skewX(-15deg);
}
.ok:hover {
	background: #338033;
	cursor: pointer;
}
.error:hover {
	background: #803333;
	cursor: pointer;
}
.dark-button:hover:before {
	transform: translateX(300px) skewX(-15deg);
	opacity: 0.6;
	transition: 0.7s;
}
.dark-button:hover:after {
	transform: translateX(300px) skewX(-15deg);
	opacity: 1;
	transition: 0.7s;
}

/* All media screens below */

@media only screen and (max-width: 1024px) {
	.dark-button-1 {
		display: block;
		margin-top: 10%;
		margin-left: auto;
    	margin-right: auto;
	}
	.dark-button-2 {
		display: block;
		margin-top: 7%;
		margin-left: auto;
    	margin-right: auto;
	}
	.dark-button {
		width: 400px;
		height: 120px;
	}
	.button-text {
		font-size: 1.8em;
	}
}